<%= form_with(model: product, data: { turbo: true }, html: { class: "space-y-8", multipart: true }) do |form| %>

  <div class="space-y-8">
    <div class="sm:grid sm:grid-cols-4 sm:gap-6 sm:items-start">
      <%= form.label :name, class: "block text-base font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:mt-0 sm:col-span-3">
        <%= form.text_field :name, 
            class: "block w-full h-12 rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-base" %>
      </div>
    </div>

    <div class="sm:grid sm:grid-cols-4 sm:gap-6 sm:items-start">
      <%= form.label :description, class: "block text-base font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:mt-0 sm:col-span-3">
        <%= form.text_area :description, rows: 4,
            class: "block w-full rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-base" %>
      </div>
    </div>

    <div class="sm:grid sm:grid-cols-4 sm:gap-6 sm:items-start">
      <div class="col-span-4 grid grid-cols-2 gap-6">
        <div class="grid grid-cols-4 gap-6">
          <%= form.label :price, class: "block text-base font-medium text-gray-700 sm:mt-px sm:pt-2 col-span-1" %>
          <div class="mt-1 sm:mt-0 col-span-3">
            <%= form.number_field :price, step: 0.01,
                class: "block w-full h-12 rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-base" %>
          </div>
        </div>
        <div class="grid grid-cols-4 gap-6">
          <%= form.label :quantity, class: "block text-base font-medium text-gray-700 sm:mt-px sm:pt-2 col-span-1" %>
          <div class="mt-1 sm:mt-0 col-span-3">
            <%= form.number_field :quantity,
                class: "block w-full h-12 rounded-md border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-base" %>
          </div>
        </div>
      </div>
    </div>

    <div class="sm:grid sm:grid-cols-4 sm:gap-6 sm:items-start">
      <%= form.label :image, "Product Image", class: "block text-base font-medium text-gray-700 sm:mt-px sm:pt-2" %>
      <div class="mt-1 sm:mt-0 sm:col-span-3">
        <div class="flex items-center">
          <div class="flex-grow">
            <%= form.file_field :image,
                class: "block w-full text-base text-gray-500 file:mr-4 file:py-3 file:px-4 file:rounded-md file:border-0 file:text-base file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-8">
    <div class="flex justify-end gap-4">
      <%= form.submit "Save",
          class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-6 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>
  </div>
<% end %>
