<tr id="product_<%= product.id %>">
  <td class="py-2 px-4 border-b"><%= product.name %></td>
  <td class="py-2 px-4 border-b"><%= product.description %></td>
  <td class="py-2 px-4 border-b">$<%= sprintf('%.2f', product.price) %></td>
  <td class="py-2 px-4 border-b <%= product.stock_status_class %>">
    <%= product.stock_display %>
  </td>
  <td class="py-2 px-4 border-b">
    <%= link_to 'Edit', edit_product_path(product), class: "text-blue-500 hover:underline" %> |
    <%= link_to 'Delete', product, data: { turbo_confirm: "Are you sure?" }, method: :delete, class: "text-red-500 hover:underline" %>
  </td>
</tr>

