<div class="bg-white">

  <div class="flex justify-center items-center p-4">
    <% if @product.quantity.zero? || @product.quantity <= 10 %>
      <% if @product.quantity.zero? %>
        <% bg = "bg-red-50" %>
        <% border = "border-red-400" %>
        <% text = "text-red-700" %>
        <% icon_color = "text-red-500" %>
        <% title = "Out of Stock!" %>
        <% message = "#{@product.name} is currently out of stock." %>
      <% else %>
        <% bg = "bg-yellow-50" %>
        <% border = "border-yellow-400" %>
        <% text = "text-yellow-700" %>
        <% icon_color = "text-yellow-500" %>
        <% title = "Low Stock Warning!" %>
        <% message = "Only #{@product.quantity} left in stock." %>
      <% end %>

      <div id="stock-notification"
           data-controller="notification"
           class="w-full max-w-sm mx-auto px-4 py-4 rounded-lg border shadow-lg <%= bg %> <%= border %> <%= text %> animate-appear-fade"
           role="alert">
           <div class="flex items-center">
             <div class="flex-shrink-0">
               <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-6 w-6 inline-block ml-2 <%= icon_color %>"  viewBox="0 0 192.146 192.146">
                 <g>
                 <g>
                 <g>
                 <path d="M108.186,144.372c0,7.054-4.729,12.32-12.037,12.32h-0.254c-7.054,0-11.92-5.266-11.92-12.32
                          c0-7.298,5.012-12.31,12.174-12.31C103.311,132.062,108.059,137.054,108.186,144.372z M88.44,125.301h15.447l2.951-61.298H85.46
                          L88.44,125.301z M190.372,177.034c-2.237,3.664-6.214,5.921-10.493,5.921H12.282c-4.426,0-8.51-2.384-10.698-6.233
                          c-2.159-3.849-2.11-8.549,0.147-12.349l84.111-149.22c2.208-3.722,6.204-5.96,10.522-5.96h0.332
                          c4.445,0.107,8.441,2.618,10.513,6.546l83.515,149.229C192.717,168.768,192.629,173.331,190.372,177.034z M179.879,170.634
                          L96.354,21.454L12.292,170.634H179.879z"/>
                 </g>
                 </g>
                 </g>
               </svg>
             </div>
             <div class="ml-3">
               <h3 class="text-lg font-bold"><%= title %></h3>
               <div class="mt-1 text-sm">
                 <p><%= message %></p>
               </div>
             </div>
           </div>
      </div>
    <% end %>
  </div>


  <header class="relative bg-cover bg-center" style="background-image: url('<%= asset_path("bg.jpg") %>');">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="relative max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 text-center">
      <h1 class="text-4xl font-extrabold text-white sm:text-5xl">
        Welcome to Our Store
      </h1>
      <p class="mt-4 text-lg text-gray-200">
      Discover our exclusive collection of products.
      </p>
    </div>
  </header>

  
  <%= render "products/product", product: @product %>
</div>

